# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo / Metro
.expo/
.expo-shared/
.eas/
.metro-health-check*
expo-env.d.ts

# build outputs
dist/
build/
web-build/
coverage/

# generated native folders
/ios
/android

# Native secrets/certs
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# debug/logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS/system
.DS_Store

# local env files
.env*.local
.env.local

# TypeScript
*.tsbuildinfo

# local trash/temp
app60/_ios_ignored/
*package-lock 2.json