SUPABASE_URL=https://rddcnbqlgusbfkdziqve.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJkZGNuYnFsZ3VzYmZrZHppcXZlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM0MjA1NDUsImV4cCI6MjA4ODk5NjU0NX0.eVvGw1mnQnZmLjDRFXLS5lNLG5Wle547FLY6XeSES1M
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJkZGNuYnFsZ3VzYmZrZHppcXZlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzQyMDU0NSwiZXhwIjoyMDg4OTk2NTQ1fQ.XdkhHnEsmnx5-DEPGb3Ozdxl1KzWo5ozlfdlbrC0W6E